<!DOCTYPE html>
<html>
  <head>
    <link href='static/app.css' rel='stylesheet' />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmNr8MoeIoHsuX-7npxkqZMBGto9sBM7s&sensor=false">
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/geo.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
    <script type="text/javascript">
      window.locs = [
        <% @locations.each do |loc| %>
      [ <%= loc.lat %>, <%= loc.lng %>, <%= loc.corrected_lat %>, <%= loc.corrected_lng %>, <%= loc.acc %> ],
        <% end %>
      ]


      window.linePoints = [
        <% @route.route_geometries.each do |geometry| %>
          [ <%= geometry.lat %> , <%= geometry.lng %> ],
        <% end %>
      ];
    </script>
    <script type="text/javascript" src="static/app.js"></script>
  </head>
  <body>
    <div id="other_routes">
      <h2>Routes</h2>
      <ul>
        <% Route.all.each do |route| %>
          <% full_route = com.mapzen.osrm.Route.new(route.raw) %>
          <li><a href=?route_id=<%= route.id %>><%= route.id %> (<%= full_route.route_instructions.to_a[-2].get_simple_instruction %>)</a></li>
        <% end %>
      </ul>
    </div>
    <div id="map" data-current-route="<%= @route._id %>" />
  </body>
</html>
